RewriteEngine on
# If the end looks like base64 junk pass it as a parameter
RewriteRule ^(\w{12,100})(={0,2})?$ ../msched.php?f=$1 [QSA,NC,L]

# To prevent infinite loops, if the request is empty go directly to mobile.php
RewriteRule ^$ ../mobile.php [QSA,NC,L]

# For everything else, just direct up one level
RewriteRule ^(.*) ../$1 [QSA,NC,L]