html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************
 The start of my stuff.
******************************************/
html {
    font-family: "Arial", sans-serif;
    font-size: .72em;
    background-color: white;
}

#index {
    display: block;
}

#print {
    display: none;
}

thead, .hour {
    /*background-color: #eeeeee;*/
    background-color: whitesmoke;
    font-weight: bold;
}

table, th, td, .hour {
    padding: 3px;
    border: 1px solid gray;
    empty-cells: show;
    vertical-align: top;
}

th, .hour {
    padding: 10px;
}

hr {
    border-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

tr {
    height: 31px;
}

.program_col {
    width: 7%;
}

.cat_no_col {
    width: 7%;
}

.section_col {
    width: 4%;
}

.title_col {
    width: 23%;
}

.instructor_col {
    width: 13%;
}

.seats_col {
    width: 8%;
}

.class_no_col {
    width: 7%;
}

.credits_col {
    width: 3%;
}

.meets_at_col {
    width: auto;
}

.day_col {
    width: 13%;
}

#progress_bar {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -16px;
    margin-left: -101px;
    box-shadow: 5px 5px 10px gray;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #136ca6;
}

#progress_error {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

.hidden {
    display: none;
}